In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("Datasets/imdb-top-1000.csv")

movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [3]:
movies.shape

(1000, 10)

In [10]:
x = movies.filter(items=["Genre", "Star1"])
x.iloc[0,0] = "Alamin"

In [11]:
x

      Genre              Star1
0    Alamin        Tim Robbins
1     Crime      Marlon Brando
2    Action     Christian Bale
3     Crime          Al Pacino
4     Crime        Henry Fonda
..      ...                ...
995  Comedy     Audrey Hepburn
996   Drama   Elizabeth Taylor
997   Drama     Burt Lancaster
998   Drama  Tallulah Bankhead
999   Crime       Robert Donat

[1000 rows x 2 columns]

In [12]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0