#### Ordinal numbering encoding or Label Encoding
#### Ordinal categorical variables

Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.



For example:

* Student's grade in an exam (A, B, C or Fail).
* Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.

When the categorical variables are ordinal, the most straightforward best approach is to replace the labels by some ordinal number based on the ranks.

In [1]:
# import necessary module
import numpy as np
import pandas as pd
import datetime

In [2]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2021-03-01 20:54:52.691445
1  2021-02-28 20:54:52.691445
2  2021-02-27 20:54:52.691445
3  2021-02-26 20:54:52.691445
4  2021-02-25 20:54:52.691445
5  2021-02-24 20:54:52.691445
6  2021-02-23 20:54:52.691445
7  2021-02-22 20:54:52.691445
8  2021-02-21 20:54:52.691445
9  2021-02-20 20:54:52.691445
10 2021-02-19 20:54:52.691445
11 2021-02-18 20:54:52.691445
12 2021-02-17 20:54:52.691445
13 2021-02-16 20:54:52.691445
14 2021-02-15 20:54:52.691445
15 2021-02-14 20:54:52.691445
16 2021-02-13 20:54:52.691445
17 2021-02-12 20:54:52.691445
18 2021-02-11 20:54:52.691445
19 2021-02-10 20:54:52.691445

In [3]:
df_date_list

[datetime.datetime(2021, 3, 1, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 28, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 27, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 26, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 25, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 24, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 23, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 22, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 21, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 20, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 19, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 18, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 17, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 16, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 15, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 14, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 13, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 12, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 11, 20, 54, 52, 691445),
 datetime.datetime(2021, 2, 10, 20, 54, 52, 691445)]

In [4]:
# extract the week day name

df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2021-03-01 20:54:52.691445      Monday
1 2021-02-28 20:54:52.691445      Sunday
2 2021-02-27 20:54:52.691445    Saturday
3 2021-02-26 20:54:52.691445      Friday
4 2021-02-25 20:54:52.691445    Thursday

In [5]:
# Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2021-03-01 20:54:52.691445      Monday            1
1  2021-02-28 20:54:52.691445      Sunday            7
2  2021-02-27 20:54:52.691445    Saturday            6
3  2021-02-26 20:54:52.691445      Friday            5
4  2021-02-25 20:54:52.691445    Thursday            4
5  2021-02-24 20:54:52.691445   Wednesday            3
6  2021-02-23 20:54:52.691445     Tuesday            2
7  2021-02-22 20:54:52.691445      Monday            1
8  2021-02-21 20:54:52.691445      Sunday            7
9  2021-02-20 20:54:52.691445    Saturday            6
10 2021-02-19 20:54:52.691445      Friday            5
11 2021-02-18 20:54:52.691445    Thursday            4
12 2021-02-17 20:54:52.691445   Wednesday            3
13 2021-02-16 20:54:52.691445     Tuesday            2
14 2021-02-15 20:54:52.691445      Monday            1
15 2021-02-14 20:54:52.691445      Sunday            7
16 2021-02-13 20:54:52.691445    Saturday            6
17 2021-02-12 20:54:52.691445      Friday            5
18 2021-02-11 20:54:52.691445    Thursday            4
19 2021-02-10 20:54:52.691445   Wednesday            3

#### Ordinal Measurement Advantages
#### Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.

#### With Respect to Machine Learning

* Keeps the semantical information of the variable (human readable content)
* Straightforward
Ordinal Measurement Disadvantages
The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.

#### With Respect to Machine Learning

* Does not add machine learning valuable information